@media(min-width:1025px) {

   
    .main-container {
        grid-template-columns: 50vw;
    }


    /*  Styling for the top Nav Bar and Headline Article */
    /* Styling for the other articles on the page */
    .article-container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }


     /* Styling for the secondary article  */
     .main-subheadline-article {
        order: 1; 
        width: 55%;
        margin: 0 auto 0 0;
    }
    

    .break-heading {
        order: 3;
    }


    .secondary-subheadline-articles-section {
        order: 2;
        width: 40%;
    }


    /* Styling for the secondary article  */
    .subheadline-article-img {
        width: 100%;
    }


    .secondary-subheadline-article {
        margin: 0 0 2rem 0;
    }


    .article-img-thumbnail {
        width: 100%;
        height: 240px;
    }

    


    .regular-article {
        width: 30%;
        margin: 0 auto 6rem auto;
    }


    .btn {
        width: 14vw;
    }


    /* Layout for the subscription section */
    .subscribe-heading{
        margin: 4rem auto;
    }


    .input {
        width: 40%;
        margin: 0 0 3rem 0;
    }

    .input:not(:last-of-type) {
        margin: 0 1rem 0 0;
    }


    /* Layout and styling for the footer */
    .footer-links-container {
        justify-content: space-evenly;
        margin: 4rem 0;
    }


    /* Layout and styling for the social media section */
    .social-media-bar {
        margin: 1rem 0;
    }

}