/* Layout and styling that applies to desktop view */
@media (min-width:1024px) {

    /* Layout for the entire article content */
    .article-container {
        display: flex;
        flex-direction: column;
    }

    /* Layout and styling for the article heading and author profile */
    .article-heading {
        margin: 2rem 0 0 0;
    }

    .article-page-title {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .sub-title {
        margin: 1.5rem 0 0.5rem 0
    }

    .profile-pic {
        width: 48px;
        height: 48px;
    }
}   