@import url(phone_main.css);
@import url(phone_home.css);
@import url(tablet.css);
@import url(desktop.css);

/* Universal styling */
a, 
a:link, 
a:visited {
    text-decoration: none;
    color: #333;
}


body {
    font-family: 'Montserrat', sans-serif;
    /* Remove default margin from top and bottom of page */
    margin: 0;
    color: #4a4a4a;
    background-color: #f4f4f4;
}


/*  General Layout and Styling across all pages  */
.main-container {
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
}


.article-card {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(173,168,168, 0.1);
}


/* General styling for commonly used page elements */
.input {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1rem;
    height: 2.5rem;
}


.btn {
    height: 3rem;
    background-color: #333;
    border: hidden;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin: 2rem auto 4rem auto;
}


.sub-title {
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0 0 auto 0;
    line-height: 1.7rem;
}


#main-logo {
    font-family: 'Knewave', cursive;
    color: #8ac6d1;
}


/* Styling for top nav bar */
.nav-bar-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 1rem;
    border-style: none none groove none;
    margin-bottom: 0;
}


.nav-toggle-menu {
    cursor: pointer;
}


.toggle-menu {
    width: 14px;
    height: 14px;
}


/* Headline Article Section */
.headline-article-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.headline-img {
    width: 100%;
}


.headline-description {
    position: relative;
    width: 80%;
    margin-top: 0.5rem;
    bottom: 3rem;
    text-align: center;
    background-color: #fff;
    border: 2px solid #fff;
}


.headline-title {
    margin-top: 1rem;
}


/*   General Layout for all non-headline articles */
/* Layout for subheadline articles */
.subheadline-article-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* General Layout Style for Article Details */
.article-title {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}


.article-text-peek {
    line-height: 1.5rem;
    font-weight: 300;
}


.rating {
    margin: 0 auto;
}


/* Styling for Headings that add breaks to the page */
.break-heading {
    color: #6a6a6a;
    margin: 3rem auto;
}




/* Layout and Styling for the other articles on the page */
.other-articles-container {
    display: flex;
    flex-flow: row wrap;
}


/* Layout and Styling for the Subscribe section */
.section-divider {
    width: 90%;
    height: 0;
}


.subscribe-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.section-divider,
.subscribe-heading {
    width: 100%;
}


.subscribe-heading {
    text-align: center;
}


/* Layout and Styling for the footer */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.footer-links-container {
    display: flex;
}


.footer-links {
    list-style-type: none;
    padding: 0;
}


.social-icon {
    width: 24px;
    height: 24px;
}


.social-media-bar {
    display: flex;
    justify-content: space-evenly;
}


/* Layout for Article Gallery */
.article-gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}