@media(max-width: 415px) {


    .main-container{
        grid-template-columns: 1fr;
    }


    /*  Styling for the top Nav Bar and Headline Article */
    .top-section {
        width: 100vw; 
        height: auto;
    }

    
    /* Styling for top nav bar toggle menu*/
    .nav-logo-toggle-menu {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }


    .nav-toggle-menu {
        grid-column-start: 1;
    }


    .nav-logo {
        grid-column-start: 2;
    }


    /* Styling to hide nav items (when not toggled) */
    .nav-menu-item {
        display: none;
    }


    /* Show nav items when user clicks on menu icon in mobile view */
    .nav-menu-item-show {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }


    .nav-item {
        padding-top: 5px;
    }


    /*  Styling for the headline article  */
    .headline-img {
        width: 100%;
        height: auto;
    }


    /*  Styling for non-headline articles */
    .article-container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        width: 95vw;
    }


    /*  Styling for the secondary article  */
    .secondary-article-img {
      width: 100%;
    }


    .secondary-article-title {
      width: 80%;
  }


    /* Styling for More Articles */
    .more-articles-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        width: 100%;
    }


    .regular-article-card {
        display: flex;
        flex-direction: row;
        height: 7rem;
    }


    .article-img-thumbnail {
        width: 45%;
        flex-shrink: 0;
    }


    .article-description {
        margin-left: 0.5rem;
    }

    
    /* Layout and styling for the subscription section */
    .input {
        width: 80%;
        margin: 0.5rem 0;
    }


    /* Layout and Styling for footer */
    .footer-logo {
        width: 100%;
    }


    .footer-links {
        width: 100%;
    }


    .footer-links > li{
        margin: 0 0 2rem 0;
    }


    .social-media-bar {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}