/* Layout and Styling that applies across all phone view pages */
@media(max-width: 600px) { 


    /* Styling for common elements */
    .btn {
        width: 150px;
    }


    #main-logo {
        font-size: 1.5rem;
    }

    /* Styling for elements that apply throughout the page */
    .main-container{
        grid-template-columns: 90vw;
        justify-content: center;
        /* justify-items: center; */
    }


    /* Styling for the top Nav Bar and Headline Article */
    .top-section {
        width: 100vw;
        justify-self: center;
    }
        
    /* Styling for top nav bar toggle menu*/
    .nav-logo-toggle-menu {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        align-items: center;
    }


    .nav-toggle-menu {
        visibility: visible;
        grid-column-start: 1;
    }


    .toggle-menu {
        width: 14px;
        height: 14px;
    }


    .nav-logo {
        grid-column-start: 2;
    }


    /* Styling to hide nav items (when not toggled) */
    .nav-menu-item {
        display: none;
    }


    /* Show nav items when user clicks on menu icon in mobile view */
    .nav-menu-item-show {
        display: block;
    }


    .nav-left-items {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0 0 0;
    }


    .nav-right-items {
        margin: 0.5rem 0 0 0;
    }


    .nav-item {
        padding: 0.5rem 0 0 0;
    }


    /* Layout for the other articles section */
    .other-articles-container {
        justify-content: center;
    }


    /* Layout for the subscription section */
    .subscribe-container {
        width: 80%;
        margin: 0 auto;
    }


    .subscribe-heading {
        margin-top: 3rem
    }


    .input {
        width: 80%;
        margin: 0.5rem 0;
    }


    /* Layout and Styling for footer */
    /* .footer-container {
        width: 100%;
    } */


    .footer-links-container {
        flex-direction: column;
    }


    .footer-logo {
        width: 100%;
    }


    .footer-links {
        width: 100%;
    }


    .footer-links > li{
        margin: 0 0 2rem 0;
    }


    .social-media-bar {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}


/* Layout and Styling for really small phones */
@media (max-width: 320px) {


    #main-logo {
        font-size: 1.2rem;
    }


    .article-title,
    .rating {
        font-size: 0.8rem;
    }
}

/* @media (max-width: 320px) {
    .article-title {
        font-size: 1rem;
    }
} */