/* @import url(phone_main.css); */

@media(max-width: 415px) {


    .main-container{
        grid-template-columns: 1fr;
    }


    /* Styling for the top Nav Bar and Headline Article */
    .top-section {
        width: 100vw; 
        height: auto;
    }


    /*  Styling for the headline article  */
    .headline-img {
        width: 100%;
        height: auto;
    }


    /* Styling for non-headline articles */
    .article-container {
        /* grid-template-columns: 1fr;
        grid-gap: 1rem; */
        width: 95vw;
    }


    /* Styling for the subheadline article  */
    .main-subheadline-article {
        order: 1; 
    }


    .break-heading {
        order: 2;
    }


    .secondary-subheadline-articles-section {
        order: 3;
    }


    .secondary-subheadline-article {
        margin: 0 0 1.2rem 0;
    }


    .subheadline-article-img {
      width: 100%;
    }


    .subheadline-article-title {
      width: 80%;
    }


    .show-text {
        display: none;
    }


    /* Styling for remaining articles on page*/
    .regular-article {
        margin: 0 0 1.2rem 0;
    }


    .regular-article-card {
        display: flex;
        flex-direction: row;
        height: 7rem;
    }


    .article-img-thumbnail {
        width: 45%;
        flex-shrink: 0;
    }


    .article-description {
        margin-left: 0.5rem;
    }


    /* Layout and styling for the subscription section */
    .input {
        width: 80%;
        margin: 0.5rem 0;
    }


    /* Layout and Styling for footer */
    .footer-logo {
        width: 100%;
    }


    .footer-links {
        width: 100%;
    }


    .footer-links > li{
        margin: 0 0 2rem 0;
    }


    .social-media-bar {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}