@media(max-width: 600px) {

    /* Layout for the Main article section of the page */
    .article-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        width: 92vw;
    }

    /* Styling for article page title and author info */
    .article-page-title {
        line-height: 2.5rem;
    }
    
    .profile-info {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    .profile-pic {
        width: 24px;
        height: 24px;
        margin: 0 1rem 0 0;
    }

    .profile-text {
        margin: 0;
        font-size: 0.8rem;
    }

    /* Styling for article text */
    .article-text {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    /* Layout and Styling for author info section */
    .author-info-container {
        flex-direction: column;
    }

    .full-profile-pic {
        width: 100px;
        height: 100px;
        margin: 0 0 1rem 0;
    }

    .author-bio {
        font-size: 0.7rem;
        /* margin: 0 0 0 2rem; */
    }

    /* Layout for social media section */
    .social-media-container {
        margin: 0 0 1rem 0;

    }
}