/* Styling for that applies to both tablet and desktop view */
@media (min-width: 600px) {

    /* Styling for the headline title */
    .article-page-title {
        line-height: 2.5rem;
    }
    
    .sub-title {
        font-size: 1.2rem;
    }

    /* Layout for author profile */
    .profile-pic {
        margin: 0 1.5rem 0 0;
    }

    /* Styling for article text */
    .article-text {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }

    /* Styling for author info section */
    .full-profile-pic {
        width: 150px;
        height: 150px;
    }
}


/* Layout and styling for tablet view */
@media (min-width: 600px) and (max-width: 1023px) {

    /* Styling for the writer profile */
    .profile-pic {
        width: 36px;
        height: 36px;
    }

    .sub-title {
        margin: 0 0 0.2rem 0;
    }
}