@media (min-width: 416px) and (max-width: 1024px) {


    .main-container {
        grid-template-columns: 95vw;
    }


    /* Styling for the other articles on the page */
    .article-container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        /* width: 95vw; */
    }


     /* Styling for the secondary article  */
     .main-subheadline-article {
        order: 1; 
        width: 55%;
        margin: 0 auto 0 0;
    }


    .break-heading {
        order: 3;
    }


    .secondary-subheadline-articles-section {
        order: 2;
        width: 40%;
    }


    /* Styling for the secondary article  */
    .subheadline-article-img {
        width: 100%;
        height: 45%;
    }


    .secondary-subheadline-article {
        margin: 0 0 1.2rem 0;
    }


    /* Layout and sytling for remaining articles on page */
    .other-articles-container {
        justify-content: space-between;
    }


    .regular-article {
        width: 47%;
        margin: 0 0 4rem 0;
    }


    .article-img-thumbnail {
        width: 100%;
        height: 14rem;
    }


    /* Layout for the subscription section */
    .subscribe-container {
        width: 80%;
        margin: 0 auto;
    }


    .subscribe-heading {
        margin-top: 3rem
    }

    
    /* Layout and styling for the footer */
    .footer-links-container {
        justify-content: space-evenly;
        margin: 2rem 0;
    }


    /* Layout and styling for the social media section */
    .social-media-bar {
        margin: 1rem 0;
    }


    .input {
        width: 45%;
        margin: 3rem 0;
    }


    .input:not(:last-of-type) {
        margin-right: 1rem;
    }


    .btn {
        width: 40vw;
        /* margin: 2rem 0 4rem 0;     */
    }
}